{% extends 'layout.html' %}

{% block content %}
{% for user in users %}
    <div class="row">
        <div class="grid-25">
            <a href="{{ url_for("user_stream", username=user.get_username()) }}"><h!>{{ user.get_username() }}</h!> </a>
        </div>
        <div class="grid-50">
            <div class="grid-33">
                <h5>Posts</h5>
                <p>{{ user.post_num}}</p>
            </div>
            <div class="grid-33">
                <h5>Followers</h5>
                    <a href="{{ url_for('show_followed', username=user.get_username())  }}"> {{ user.followed_num }} </a>
            </div>
            <div class="grid-33">
                <h5>Following</h5>
                <a href="{{ url_for('show_following', username=user.get_username())  }}"> {{ user.following_num }} </a>
            </div>
        </div>
        <div class="grid-25">
            <!-- Follow/Unfollow button -->
            {% if current_user.is_authenticated %}
                {% if user.get_username() != current_user.get_username() %}
                    {% if not user.get_username() in current_user.get_following() %}
                        <a href="{{ url_for('follow', username = user.get_username()) }}" class="small">Follow</a>
                    {% else %}
                         <a href="{{ url_for('unfollow', username = user.get_username()) }}" class="small">Un-Follow</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}