<style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
</style>


{% extends 'layout.html' %}
{% from 'macros.html' import pager %}

{% block content %}
{% for post in stream %}
    <article>
        <h2>
            <a href="{{ url_for('user_stream', username = post.username) }}">{{ post.username }}</a>
        </h2>
        <i class="clock"></i><time >{{ post.timestamp }}</time>
        <div class="post">
            {{ post.content }}
        </div>
     </article>
{% endfor %}
{% endblock %}

{% block pages %}
{{ pager(url,username, total, limit, current_page) }}
{% endblock %}
